<div class="row-fluid">
	<div class="col-md-10">
		<% @contents.each do |content| %>
				<div class="bs-callout bs-callout-warning bs-callout-hover-highlight">
					<h2>
						<%= content.title %>
						<a href="#" class="anchorjs-link"><span class="anchorjs-icon"></span></a>
					</h2>
					<p><%= content.content%></p>	
					<p>
						<button class="btn btn-default btn-lg">Views details</button>
					</p>
				</div>
		<% end %>
	</div>
	<div class="col-md-2">
		<!-- <div class="btn-group-vertical btn-group-verticla-wrapper" role="group" aria-label="...">
			<button class="btn btn-default">Category1</button>
			<button class="btn btn-default">Category2</button>
			<button class="btn btn-default">Category3</button>
			<button class="btn btn-default">Category4</button>
			<button class="btn btn-default">Category5</button>
		</div> -->
		<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top vertical-wrapper ">
			<ul class="nav bs-docs-sidenav bs-docs-border">
				<li><a href="#">Ruby on Rails</a></li>
				<li><a href="#">Relanship</a></li>
				<li><a href="#">RSS</a></li>
				<li><a href="#">Videos</a></li>
				<li><a href="#">Email</a></li>
			</ul>
		</nav>
	</div>
</div>
