/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
@import "bootstrap";
@import "bootstrap-sprockets";

$blue-header-bg: #238bc5;
$blue-hight-light: rgba(19, 205, 249, 0.72);
$white: #FFFFFF;
$yellow-hover: #e9cd4c;
$blue-hover: #146a9a;
$pretty-red: #D01C1C;
$dark: rgb(51, 51, 51);
$mightblue: #191970;
$info: #1b809e;
$warning: #aa6708;

//@import "bootstrap/theme";
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-info {
  border-left-color: $info;
}
.bs-callout-warning {
  border-left-color: $warning;
}
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid $info;
  border-left-width: 5px;
  border-radius: 3px;
}

// .bs-callout.bs-callout-warning.bs-callout-hover-highlight :hover{
//   border: 1px solid $mightblue;
// }

.custom-header {
  width: 100%;
  -webkit-box-shadow: 2px 4px 5px rgba(3,3,3,0.2);
  box-shadow: 2px 4px 5px rgba(3,3,3,0.2);
  background: $blue-header-bg;
  color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
}

.blue {
	background: $blue-header-bg;
}

.jumbotron-white-bg {
	background: $white;
}

.navbar-inverse .navbar-nav > li > a {
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: $yellow-hover;
	background-color: $blue-hover;
}

.navbar-inverse .navbar-brand {
	color: $white;
}
.navbar-inverse .navbar-brand .navbar-nav-white {
	color: $white;
}

.navbar-inserse .navbar-brand .navbar-nav-white-bg {
	background: $white;
}

.nav-img-box {
    width: 88px;
    height: 88px;
}

.container-left {
	float: right;
}

.nav-wrapper {
	margin-top: 70px;
}

.navbar-nav.navbar-right:last-child {
	margin-right: 20px;
}

.navbar-header.navbar-header-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

.vertical-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom {
  width: 263px;
}
.bs-docs-sidebar.affix {
}
.nav.bs-docs-sidenav {
  position: fixed;
}

.bs-docs-sidebar .nav>.active:focus>a, .bs-docs-sidebar .nav>.active:hover>a, .bs-docs-sidebar .nav>.active>a {
  padding-left: 18px;
  font-weight: 700;
  color: #563d7c;
  background-color: transparent;
  border-left: 2px solid #563d7c;
}

.bs-docs-sidebar .nav>li>a {
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #767676;
}